@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

body{
  background-color:lightblue;
  font-family: 'poppins', sans-serif;
}
  
  



